/.vscode
/ankur.py
/backtracking.cpp
/backtracking.exe
/begin.cpp
/begin.exe
/binarySet.cpp
/binarySet.exe
/bot.py
/codechef.cpp
/codechef.exe
/d1.py
/d1.txt
/d1_data.csv
/d2.py
/d3.py
/dnkj
/efkj.html
/extra.cpp
/gj.java
/Include
/iti.html
/j.class
/j.java
/lab5.py
/labb9.cpp
/labb9.exe
/Lib
/license.txt
/monk
/monk.cpp
/monk.exe
/ok.cpp
/ok.exe
/practice.py
/problem.cpp
/problem.exe
/pywhatkit_dbs.txt
/readme.txt
/test.cpp
/test.exe
/test.py
/testing.py
/tgirrj.py
/tuts
/uuu.class
/uuu.java
/__pycache__